body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}


header div {
    background-color: #ffffff;
    padding: 15px;
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 10px;
}

header div input {
    justify-content: left;
    align-items: center;
    padding: 10px;
    margin: 10px;
    width: 30%;
}

header div button {
    padding: 10px;
    margin: 10px;
    width: 10%;
}

nav{
    background-color: #003366;
    color: white;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 10px;
}

section {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    border-radius: 5px;
}

button {
    background-color: #b40000;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    background-color: #003366;
    color: white;
    padding: 5px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer ul {
    list-style-type: none;
    padding: 0;
}
footer ul li {
    display: inline;
    margin: 0 15px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}