@charset "utf-8";
/* CSS Document */

button{
	border-radius: 8px;
	font-size: 14px;
	padding: 5px 10px;
	color: #fff;
	background: #09c;
	border:0;
	cursor: pointer
}

#ptext,#ptext2,#ptext3{
	color:#690;
}

.paratext{
	color:#09c;
}
